.hero {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;

  &__item {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    height: 675px;
    width: 100%;
  }

  &__picture {
    height: 300px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  &__text {
    flex-grow: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 500;
    color: $color--secundary;
  }

  @include paragraph();

  &__shop {
    height: 30px;
    position: relative;
    font: $font-family;
    font-size: 1.2rem;
    font-weight: 400;

    text-transform: uppercase;
    letter-spacing: 8px;
    word-spacing: 10px;
    color: $color--secundary;

    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    margin-top: auto;

    cursor: pointer;
    transition: all 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 185px;
      width: 40px;
      height: 2px;
      background-color: black;
      transform: translateY(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 220px;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 10px solid black;
      transform: translateY(-50%);
    }

    &:hover,
    &:focus {
      color: $color--paragraph;
      border-left: 2px solid $color--paragraph;
      padding: 5px;
    }
    &:hover::before,
    &:focus::before {
      background-color: $color--paragraph;
    }
    &:hover::after,
    &:focus::after {
      border-left: 10px solid $color--paragraph;
    }
  }

  .active {
    display: flex;
  }
  .carousel__buttons {
    position: absolute;
    top: 250px;
    right: 0;
    width: 120px;
    height: 50px;
    display: flex;
    background-color: $color--secundary;
    z-index: 997;

    button {
      width: 100%;
      border: none;
      display: grid;
      place-content: center;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }
    .prev-button::before,
    .next-button::before {
      content: "";
      width: 15px;
      height: 15px;
      border: solid $color--paragraph;
      border-width: 2px 2px 0 0;
      display: block;
    }
    .prev-button::before {
      transform: rotate(-135deg);
      margin-left: 5px;
    }
    .next-button::before {
      transform: rotate(45deg);
      margin-right: 5px;
    }

    button:hover,
    button:focus {
      background-color: $color--acent;
    }
  }
}

@media screen and (min-width: 600px) {
  .hero {
    margin-top: 120px;
    &__item {
      position: relative;
      flex-direction: row;
      gap: 0;
      height: auto;
    }
    &__picture {
      width: 50%;
      height: auto;

      img {
        position: static;
      }
    }
    &__text {
      padding-top: 0;
      width: 50%;
    }
    .carousel__buttons {
      top: 0;
      right: 50%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    margin: 0;
    &__item {
      align-items: center;
    }
    &__picture {
      width: 60%;
      height: auto;
      align-self: flex-start;

      img {
        position: static;
      }
    }
    &__text {
      padding: 1rem 5rem;
      padding-bottom: 100px;
      gap: 2rem;
      width: 40%;
    }
    &__title {
      font-size: 3.5rem;
      font-weight: 500;
      color: $color--secundary;
    }
    &__shop {
      margin: 0;
    }
    .carousel__buttons {
      top: auto;
      bottom: 0;
      left: 60%;
      width: 150px;
      height: 70px;
    }
  }
}
